html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
  height: 100%;
}

body {
  height: 100%;
  background: #000 url('~assets/bg.png') top center no-repeat;
}


//.image {
//  display: inline-block;
//  height: 100px;
//  width: 100px;
//  background-image: url('~assets/example.png');
//  background-size: cover;
//}
